<head>
  <style>
    .border{
      border-collapse: collapse;
    }
    th, td, table{
      border: solid 1px black;
      padding: 5px;
    }
    button{
      margin: 0 0 0 20em;
    }
  </style>
</head>

<table class="border" table-border="1">
  <thead class="border">
    <tr>
      <th class="border"> ID </th> <th class="border"> Name </th>  <th class="border"> Number </th>
    </tr>
  </thead>
  <tbody>

    <% i=1; users.forEach(function(users){ %>
    <tr>
        <td> <%= i++ %> </td> <td> <%= users.name %> </td> <td> <%= users.number %> </td>
        <td> <a href="update/<%= users.id %>">Update</a> </td> <td> <a href="delete/<%= users.id %>">Delete</a> </td>
    </tr>
    <% }); %>

  </tbody>
</table>
<br>
<a href="/create"><button>Create!</button></a>
